html {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #2d2d2d;
    color: #ccc;
    box-sizing: border-box;
    line-height: 1.5rem;
}

h1{
    padding: .5rem;
    text-align: center;
    line-height: 2rem;
}

p{
    max-width: 90ch;
    font-size: larger;
    padding-left: 3rem;
}

li{
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 2rem;;
    max-width: 90ch;
    padding-left: 3em;
    font-size: larger;
    list-style: none;
}


hr{
    max-width: 75%;
}

.images{
    text-align: center;
}

.container{
    width: 50%;
    margin: 0 auto; 
    padding: 1rem;
}

.blue{
    color: rgb(86, 118, 207);
}

.orange{
    color: rgb(215, 113, 53);
}

.green{
    color: rgb(40, 136, 59);
}

.yellow{
    color: rgb(203, 203, 125)
}

.comment{
    font-style: italic;
    color: rgb(40, 136, 59);
}

.footnote{
    padding: 0;
    text-align: center;
    font-style: italic;
    color: rgb(40, 136, 59);
}

@media (max-width: 1366px) {
    html {
        font-size: 17px; /* Slightly larger for readability */
    }
    
    p, li {
        font-size: 1rem;
        padding-left: 1.5em; /* Slight reduction */
    }

    .container {
        width: 70%; /* Make container a bit wider */
    }

    h1 {
        font-size: 1.8rem;
    }

    h2{
        font-size: 1.2rem;
    }

    h3{
        font-size: 1.2rem;
    }

    h4{
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 16px; /* adjust base font size */
    }
    
    p, li {
        font-size: 1rem; /* adjust text size for better readability */
        padding-left: 1em; /* reduce padding */
    }

    .container {
        width: 90%; /* make container take up more width */
    }

    h1 {
        font-size: 1.5rem; /* slightly reduce heading size */
    }

    h2{
        font-size: 1.0rem;
    }

    h3{
        font-size: 1.0rem;
    }

    h4{
        font-size: 1.0rem;
    }
}

@media (max-width: 480px) {
    p, li {
        font-size: 0.75rem; /* slightly smaller text for very small screens */
        padding-left: 0.5em;
    }

    h1 {
        font-size: 1.2rem; /* further reduce heading size */
    }

    .container {
        width: 100%; /* make container full width */
        padding: 0.5rem; /* reduce padding */
    }

    h2{
        font-size: .75rem;
    }

    h3{
        font-size: .75rem;
    }

    h4{
        font-size: .75rem;
    }
}