.skills{
    text-align: left;
    padding: .75em 0em .75em 0em;
    list-style:square;
}

.role{
    text-align: left;
    margin-left: 3em;
    padding: .75em 0em .75em 0em;
    list-style: square;
}

h3{
    padding-top: 0;
    padding-left: 3rem;
}

h4{
    margin-top: 0;
    padding-left: 3rem;
}
