div {
    padding-top: 0.5rem;
    width: 70ch;
    max-width: 90%; /* Set a maximum width to fit smaller screens */
    line-height: 1.5rem;
    margin-left: 2rem;
    text-align: center;
    margin: auto;
}

h3 {
    font-size: 1.05rem;
    font-style: italic;
    padding-left: 0.75em;
    text-align: center;
}

p {
    padding-left: 0.75em;
    padding-top: 0;
    text-align: center;
}

.info {
    text-align: center;
}

/* Mobile adjustments for screens 600px wide and smaller */
@media (max-width: 600px) {
    div {
        padding-top: 0.5rem;
        width: 100%; /* Full width for mobile screens */
        line-height: 1.6rem;
        margin-left: 0; /* Center align on smaller screens */
    }
    
    h3 {
        font-size: 1rem;
        padding-left: 0.5em; /* Adjust padding for smaller screens */
        text-align: center;
    }

    p {
        padding-left: 0.5em; /* Adjust padding for smaller screens */
        text-align: center;
    }
}